[submodule "optimized/merged/optimized/merged/randen-rng"]
	path = optimized/merged/optimized/merged/randen-rng
	url = https://github.com/jedisct1/randen-rng
[submodule "optimized/merged/randen-rng"]
	path = optimized/merged/randen-rng
	url = https://github.com/jedisct1/randen-rng
